<form asp-controller="Language" asp-action="AddLanguage" method="post">
    <div class="form-group">
        <label for="name">Язык</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
