<form asp-controller="Vocabulary" asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Имя словаря</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
