@model IEnumerable<MyProject.Models.Vocabulary>

@if (Model == null)
{
    <div>
        Словарей нет
    </div>
}
else
{
    <div>
        <ul>
            @foreach (var vocabulary in Model)
            {
                <li><a asp-action="ShowVocabulary" asp-route-id="@vocabulary.Id">@vocabulary.Name</a></li>
            }
        </ul>
    </div>
}
