@model IEnumerable<MyProject.Models.Language>

<div class="card">
    <ul class="list-group list-group-flush">
        @foreach (var language in Model)
        {
            <li class="list-group-item"><a asp-action="ShowLanguage" asp-route-id="@language.Id">@language.Name</a></li>
        }
    </ul>
</div>

