@model MyProject.Models.Word

<form asp-controller="Dictionary" asp-action="EditWord" method="post">
    <div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="DictionaryId" />
    </div>
    <div class="form-group">
        <label asp-for="Original">Слово</label>
        <input type="text" asp-for="Original" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Translation">Перевод</label>
        <input type="text" asp-for="Translation" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
