@model IEnumerable<MyProject.Models.Dictionary>

<div class="card">
    <ul class="list-group list-group-flush">
        @foreach (var dictionary in Model)
        {
            <li class="list-group-item"><a asp-action="ShowDictionary" asp-route-id="@dictionary.Id">@dictionary.Name</a></li>
        }
    </ul>
</div>

