@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <a class="btn btn-info" asp-controller="Vocabulary">Мои словари</a>
        <a class="btn btn-info" asp-controller="Vocabulary" asp-action="Create">Создать словарь</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}
