@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <a class="btn btn-info" asp-controller="Collection">Мои коллекции</a>
        <a class="btn btn-info" asp-controller="Collection" asp-action="CreateCollection">Создать коллекцию</a>
    </div><br />
}
<div>
    <a class="btn btn-info" asp-controller="Language">Языки</a>
    <a class="btn btn-info" asp-controller="Language" asp-action="AddLanguage">Добавить язык</a>
</div>

